---
- name: Remove cloud-init config directory
  ansible.builtin.file:
    path: /etc/cloud
    state: absent

- name: Remove cloud-init package if present
  ansible.builtin.package:
    name: cloud-init
    state: absent
